name: Veracode Policy Scan

on:
  # push:
  #   branches: [ main, release/* ]
  # pull_request:
  #   branches: [ main, develop, main, release/* ]
  workflow_dispatch:

jobs:
  build-and-policy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1 # Make java accessible on path so the uploadandscan action can run.
        with: 
          java-version: 1.8
      - name: Build with maven
        run: mvn -B package --file ./app/pom.xml
      - name: Upload and Scan
        uses: veracode/veracode-uploadandscan-action@master # Run the uploadandscan action. Inputs are described above.
        with:
          appname: '${{ github.repository }}'
          version: '${{ github.run_id }}'
          filepath: './app/target/verademo.war'
          vid: '${{ secrets.VERACODE_API_ID }}'
          vkey: '${{ secrets.VERACODE_API_KEY }}'
          scantimeout: 15
